.footer {

        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;          
        padding-top: 2em;
        padding-bottom: 2em;
      }

/* html, body { 
    height: 100%;
    /* background-image: url(uploads/d.jpg); 
    background: url(uploads/d.jpg) no-repeat center center fixed;   */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-color: black;
    width: 100%; */
 /* }  */

.subtitle{
    font-size: 15px;
    opacity: 8;
}

.section-title{
    font-size: 30px;
}

.info{
    color: black;
    float: left;
}

.container {
    padding-top: 10 rem;
    padding-bottom: calc(10rem - 56px);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    width: 100%;
    }
/* about page */
.about-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.about_text{
    color: black;
    font-size: x-large;
}

.about-me-title{
    text-decoration: underline;
    text-align: center;
}

.sections{
    position: relative;
    padding: 5rem 0;
}

.about_text{
    padding: 10px;
    text-align: left;
    font-size: 25px;
    letter-spacing: .6px;

}
/* end of about page */
.header{

    /* background: url(uploads/d.jpg); */
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    min-height:400px;
    width: 100%;
  }
.btn.rounded {
    border-radius: 50px !important;
}
.home_img{
    width: 700px;
    height: auto;  
    display: -webkit-box;
    margin-left: auto;
    margin-bottom: 100px;
}
.btn{
    margin-top: 10px;
    font-weight: 700px;
}

.img-po {
    position: relative;
    width: 100%;
    min-width: 100px;
    
}

.img-po:before {
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    top:0;left:0;right:0;
    background-color:rgba(0,0,0,0);
  }

.img-po:hover::before {
    background-color:rgba(0,0,0,0.5);
  }

  .img-po img {
    display:block;
  }

  .img-po a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity:0;
  } 
  .img-po:hover a {   
    opacity: 1;
  }

  .img-po p {
    position: absolute;
color: #fff;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity:0;
  }
  .img-po:hover p {   
    opacity: 1;
  }

.buttons{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
.testmonial-card{
  background: #fff;
  box-shadow: 2px 3px 10px rgba(206,212,218,.3);
  border-radius: .25rem;
  max-width: 700px;
  margin: 10px auto;
  padding: 20px 15px;
  }
.testmonial-card img {
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 2px 3px 10px rgba(206,212,218,.3);
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
.title {
    margin-top: 30px;
    font-size: 20px;
  }